/* Nav bar */
.navbar{
    background-color: #222;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 50px 30px;
}

.navbar a:hover {
    background-color: #4d7c59;
}

/*Main Header*/
/* header */
#main-header {
    background-color: #315c3a;
    color: white;
    text-align: center;
    padding: 30px;
    margin: 0;
}

#main-header h1 {
    margin-bottom: 10px;
}

/* Plant Cards*/
.plant-card {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}


.plant-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

@media(max-width: 768px){
    .plant-container {
        grid-template-columns: 1fr;
    }
    nav {
        flex-direction: column;
    }
}